* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  background-color: white;
  font-family: "lucida Sans", "lucida Sans Regular", "lucida Grande",
    "lucida sans Unicode", Geneva, Verdana, Sans-serif;
}
.navBar {
 display: flex;
 justify-content: space-between;
  width: 90%;
  margin: 1em auto 1rem auto;
  font-weight: bold;
  align-items: baseline;
}
.nav-box{
  display: flex;
  justify-content: space-between;
    width: 50%;
}
.button-nav {
  height: 3em;
  width: 8.5em;
  cursor: pointer;
  background-color: #3aa672;
  color: white;
  border-radius: 5px;
  border: transparent;

}
ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}
li {
  cursor: pointer;
  color: rgb(94, 91, 91);
}
.humbager{
  display: none;
}
@media screen and (max-width:900px){
  .nav-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   position: absolute;
   align-items: center;
   top: 3rem;
   width: 90%;
   backdrop-filter: blur(7px);
		transition: 0.5s ease-in-out;
   
  }
  .humbager{
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    justify-content: flex-end;
    text-align: center;
    
  }
  .button-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }
}

/*....STARTING OF MAIN ....*/

.main-image {
  max-height: 80vh;
  max-width: 40vw;
  border: 3px solid #3aa672;
  padding: 0.6em;
}

.main {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.main-div1 {
  width: 50%;
}
.main-div1 h1 {
  font-size: 4vw;
}

.main-div1 p {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 1.5vw;
}
.button {
  height: 3em;
  width: 8.5em;
  cursor: pointer;
  background-color: #3aa672;
  color: white;
  border-radius: 5px;
  border: transparent;
}

@media  screen and (max-width:600px){
	.main-div1 h1 {
    font-size: 2em;
  }
  .main-div1 p {
    
   font-size: 1rem;
    
  }
  .main {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  
  }
  .main-div1 {
    width: 100%;
  }
  .main-image {
    max-height: 100%;
    max-width: 100%;
    
  }
}

/*....STARTING OF ABOUT ....*/

.About {
  display: flex;
  width: 90%;
  margin: auto;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.About-sec1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box1 {
  height: 45vh;
  width: 30vw;
  background-color: #3aa672;
  position: absolute;
}
.box2 {
  height: 45vh;
  width: 30vw;
  background-color: #230568;
  margin-left: 4em;
  margin-top: 2em;
  position: relative;
  text-align: center;
  color: white;
  padding: 3em;
  font-weight: 500;
  font-size: 1.3vw;
}
.comma {
  font-size: 20px;
}
.About-sec2 {
  width: 100%;
}
.About-sec2 h2 {
  padding-bottom: 2em;
}
.About-sec2 h4 {
  padding-bottom: 1em;
}
.About-sec2 p {
  padding-bottom: 2.5em;
}
.About-cont {
  text-align: center;
  padding-top: 4em;
}
.About-bnt {
  background-color: #ecf8f2;
  padding: 0.8em 3em;
  color: #3aa672;
  border-radius: 10px;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width:900px){
	.About {
    flex-direction: column;
  }
  .box1{
    
    min-width: 80vw;
    
  }
  .box2{
    min-width: 80vw;
    font-size: 1.3rem;
    
  }
  
}
@media  screen and (max-width:600px){
  .About {
    flex-direction: column;
  }
  .box1{
    width: 80%;
    
  }
  .box2{
    width: 80%;
    font-size: 1rem;
    
    
  }


}



/*....STARTING OF SERVICES ....*/

.services {
  background-color: whitesmoke;
  padding-top: 4em;
  padding-bottom: 4em;
}
.services-cont {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  width: 90%;
  margin: auto;
  justify-content: center;
}
.box {
  padding-bottom: 2em;
  padding-top: 2em;
  height: 400px;
	width: 300px;
 
  
}
.box h4 {
  padding-bottom: 2em;
  padding-top: 2em;
}
.box h1 {
 margin-bottom: -1.5rem;
}
.box-icon{
  background-color:#83dbb1;
  padding: 10px;
  font-size: 60px;
  border-radius: 50%;
 
}

/*....STARTING OF MODAL....*/

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;

  background-color: #181a1998;
}
.modal-box {
  height: 80vh;
  width: 60vw;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  position: relative;
}
.modal-backgroun {
  background-color: #3aa672;
  position: absolute;
  height: 80vh;
  width: 60vw;
  border-radius: 15px;
}
.modal-backgroun h1 {
  color: rgba(255, 255, 255, 0.103);
  font-size: 4em;
  font-family:TypoUpright BT;
}
.modal-bnt-box {
  height: 10vh;
}
.cancle-bnt {
  font-size: xx-large;
  background-color: transparent;
  margin: 0.3em;
  float: right;

  display: block;
  border: none;
  color: rgb(245, 8, 8);
  cursor: pointer;
}
.modal-cont {
  display: flex;
}
.modal-img {
  width: 100%;
}
.modal-content {
  width: 100%;
  height: 100%;
}
.modal-form {
  padding: 1em;
  background-color: white;
  width: 80%;
  border-radius: 5px;
}
.modal-content h2{
  font-size: 3vw;
  padding-bottom: 1rem;
}
.modal-content p{
  padding-bottom: 1vw;
}
.modal-type{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #3aa672;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}
.modal-btn{
  margin-top: 2em;
  padding: 0.4rem 0.8rem;
  background-color: #3aa672;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
@media  screen and (max-width:600px){
.cancle-bnt{
  font-size: x-large;

}
.modal-content h2{
  font-size: 3vw;
  padding-bottom: 1rem;
}
.modal-img {
 display: none;
}
.modal-content {
  width: 90%;
  margin: auto;
}
.modal-form {
  width: 100%;
}
}
@media  screen and (max-width:900px){
  .modal-content h2{
    font-size: 3vw;
    
  }

}


/*....STARTING OF EXPERINCE....*/

.container-exp{
  height: 50vh;
  background-color: #3aa672;
}
.exp-con{
 
  width: 100%;
  
  position: absolute;
}
.exp-box{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
 
  justify-content: space-between;
  padding: 2rem 3rem;
 position: relative;
 top: 40vh;
 border-radius: 20px;
 background-color: white;
 gap:0.5rem
}
.exp-box h1{
  color: #3aa672;
  font-size: 3vw;
}
.exp-box p{
  color: gray;
}
.modal-image {
  max-height: 100%;
  max-width: 100%;
  
}
.footer{
  height: 70vh;
  background-color: whitesmoke;
  color: rgb(131, 9, 9);
  
  font-size: 50px;
  height: -40vh;
  
}
