* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  background-color: white;
  font-family: "lucida Sans", "lucida Sans Regular", "lucida Grande",
    "lucida sans Unicode", Geneva, Verdana, Sans-serif;
}
.navBar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto 1rem auto;
  font-weight: bold;
  align-items: baseline;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.button-nav {
  height: 3em;
  width: 8.5em;
  cursor: pointer;
  background-color: #3aa672;
  color: white;
  border-radius: 5px;
  border: transparent;
}
ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}
li {
  cursor: pointer;
  color: rgb(94, 91, 91);
  position: relative;
}
li:after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0%;
  left: 0px;
  bottom: 18px;
  background-color: #3aa672;
  transition: 0.31s;
}
li:hover:after {
  width: 100%;
}
li:active:after {
  width: 100%;
}

.humbager {
  display: none;
}
@media screen and (max-width: 900px) {
  .nav-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 3rem;
    width: 100%;
    backdrop-filter: blur(7px);
    transition: 0.5s ease-in-out;
    left: -100%;
  }
  .nav-box.active {
    left: 0%;
  }
  .humbager {
    display: block;
    cursor: pointer;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    justify-content: flex-end;
    text-align: center;
  }
  .button-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.31s;
  }
  li:after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0px;
    bottom: 0px;
    background-color: #3aa672;
    transition: 0.31s;
  }
  .humbago {
    font-size: 3vw;
    color: #3aa672;
  }
}

/*....STARTING OF MAIN ....*/

.main-image {
  max-height: 80vh;
  max-width: 40vw;
  border: 3px solid #3aa672;
  padding: 0.6em;
}

.main {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.main-div1 {
  width: 50%;
}
.main-div1 h1 {
  font-size: 4vw;
}

.main-div1 p {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 1.5vw;
}
.button {
  height: 3em;
  width: 8.5em;
  cursor: pointer;
  background-color: #3aa672;
  color: white;
  border-radius: 5px;
  border: transparent;
}

@media screen and (max-width: 600px) {
  .main-div1 h1 {
    font-size: 2em;
  }
  .main-div1 p {
    font-size: 1rem;
  }
  .main {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .main-div1 {
    width: 100%;
  }
  .main-image {
    max-height: 100%;
    max-width: 100%;
  }
}

/*....STARTING OF ABOUT ....*/

.About {
  display: flex;
  width: 90%;
  margin: auto;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.About-sec1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box1 {
  height: 45vh;
  width: 30vw;
  background-color: #3aa672;
  position: absolute;
}
.box2 {
  height: 45vh;
  width: 30vw;
  background-color: #230568;
  margin-left: 4em;
  margin-top: 2em;
  position: relative;
  text-align: center;
  color: white;
  padding: 3em;
  font-weight: 500;
  font-size: 1.3vw;
}
.comma {
  font-size: 20px;
}
.About-sec2 {
  width: 100%;
}
.About-sec2 h2 {
  padding-bottom: 2em;
}
.About-sec2 h4 {
  padding-bottom: 1em;
}
.About-sec2 p {
  padding-bottom: 2.5em;
}
.About-cont {
  text-align: center;
  padding-top: 4em;
}
.About-bnt {
  background-color: #ecf8f2;
  padding: 0.8em 3em;
  color: #3aa672;
  border-radius: 10px;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 920px) and (max-height: 1370px) {
  .box1 {
    height: 20vh;
  }
  .box2 {
    height: 20vh;
  }
}
@media screen and (max-width: 850px) and (max-height: 1100px) {
  .box1 {
    min-width: 40vw;
  }
  .box2 {
    min-width: 40vw;
  }
}
.About-sec1 {
  padding-right: 1em;
}

@media screen and (max-width: 431px) and (max-height: 940px) {
  .About {
    flex-direction: column;
    margin: auto;
  }
  .About-sec1 {
    width: 100%;
    height: 50vh;
  }
  .box1 {
    width: 80%;
    height: 45vh;
  }
  .box2 {
    width: 100%;
    font-size: 1rem;
    height: 45vh;
  }
}
@media screen and (max-width: 375px) and (max-height: 670px) {
  .About {
    flex-direction: column;
    margin: auto;
  }
  .About-sec1 {
    width: 100%;
    height: 50vh;
  }
  .box1 {
    width: 80%;
    height: 50vh;
  }
  .box2 {
    width: 100%;
    font-size: 1rem;
    height: 600vh;
  }
}
@media screen and (max-width: 1030px) and (max-height: 1370px) {
  .box1 {
    height: 25vh;
  }
  .box2 {
    height: 25vh;
  }
}
@media screen and (max-width: 670px) and (max-height: 380px) {
  .box1 {
    height: 50vh;
  }
  .box2 {
    height: 50vh;
  }
}
@media screen and (max-width: 550px) and (max-height: 750px) {
  .About {
    flex-direction: column;
  }
  .box1 {
    height: 20vh;
    width: 80%;
  }
  .box2 {
    width: 90%;
    height: 20vh;
  }
}
@media screen and (max-width: 700px) and (max-height: 800px) {
  .About-sec2 h2 {
    padding-bottom: 1.4em;
    font-size: 16px;
  }
  .About-sec2 h4 {
    padding-bottom: 1em;
    font-size: medium;
    font-size: 12px;
  }
  .About-sec2 p {
    padding-bottom: 1.5em;
    font-size: 11px;
  }
  .About {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 800px) and (max-height: 550px) {
  .About-sec1 {
    width: 50%;
  }
  .box1 {
    height: 40vh;
    width: 20%;
  }
  .box2 {
    width: 20%;
    height: 40vh;
  }
  .About-sec2 h2 {
    padding-bottom: 1.5em;
    margin: 0px;
    padding: 0px;
  }
  .About-sec2 h4 {
    padding-bottom: 1em;
  }
  .About-sec2 p {
    padding-bottom: 1em;
  }
}

/*....STARTING OF SKILLS ....*/

.Skills {
  background-color: whitesmoke;
  padding-top: 2em;
  padding-bottom: 2em;
}
.skill-txt {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.skill-btn {
  align-items: center;
  color: #3aa672;
  padding: 1em 1.5em;
  background-color: white;
  border-radius: 10px;
  border: none;
}
.skills-writeUp {
  width: 90%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.skills-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  gap: 1em;
  margin: 1em auto auto auto;
}
.skills-card-box1 span,
.skills-card-box2 span,
.skills-card-box3 span,
.skills-card-box4 span,
.skills-card-box5 span,
.skills-card-box6 span,
.skills-card-box7 span {
  background-color: #3aa672;
  padding: 0.2em;
  color: white;
  font-weight: bolder;
}
.skills-card-box1 i,
.skills-card-box2 i,
.skills-card-box3 i,
.skills-card-box4 i,
.skills-card-box5 i,
.skills-card-box6 i,
.skills-card-box7 i {
  padding: 0.2em;
  color: #3aa672;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.skills-card-box1,
.skills-card-box2,
.skills-card-box3,
.skills-card-box4,
.skills-card-box5,
.skills-card-box6,
.skills-card-box7 {
  background-color: white;
  width: 370px;
  padding: 0.9rem;
  height: 230px;
  box-shadow: 0 4px 8px 0 gray;
  transition: transform 500ms ease-in-out;
  border-radius: 6px;
}
.skills-card-box1:hover,
.skills-card-box2:hover,
.skills-card-box3:hover,
.skills-card-box4:hover,
.skills-card-box5:hover,
.skills-card-box6:hover,
.skills-card-box7:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 gray;
}
.marqua {
  display: flex;
  gap: 2em;
  overflow: hidden;
}
.marquee {
  gap: 1em;
  color: #3aa672;
  font-weight: 1900px;
  font-size: 40px;
  display: flex;

  animation: move-rtl 20s linear infinite;
  white-space: nowrap;
}
.meq-box {
  border-radius: 10px;
  margin-top: 1em;
  padding: 0.4em 1.5em;
  border-top: 2px solid #3aa672;
  border-bottom: 2px solid #3aa672;
  border-right: 2px solid #3aa672;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 670px) and (max-height: 380px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 280px;
    height: 270px;
  }
}
@media screen and (max-width: 770px) and (max-height: 1030px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 330px;
    height: 230px;
  }
}
@media screen and (max-width: 900px) and (max-height: 1200px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 350px;
    height: 230px;
  }
}

@media screen and (max-width: 600px) and (max-height: 800px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 450px;
    height: 230px;
  }
}
@media screen and (max-width: 800px) and (max-height: 1050px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 330px;
    height: 230px;
  }
}
@media screen and (max-width: 550px) and (max-height: 750px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 450px;
    height: 200px;
  }
}
@media screen and (max-width: 800px) and (max-height: 550px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 310px;
    height: 250px;
  }
}
@media screen and (max-width: 860px) and (max-height: 1300px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 900px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 330px;
    height: 250px;
  }
}
@media screen and (max-width: 670px) and (max-height: 380px) {
  .skills-card-box1,
  .skills-card-box2,
  .skills-card-box3,
  .skills-card-box4,
  .skills-card-box5,
  .skills-card-box6,
  .skills-card-box7 {
    width: 280px;
    height: 300px;
  }
}
/*....STARTING OF MODAL....*/

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  transition: 0.5s ease-in-out;
  background-color: #181a1998;
}
.modal-box {
  height: 80vh;
  width: 60vw;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.modal-backgroun {
  background-color: #3aa672;
  position: absolute;
  height: 80vh;
  width: 60vw;
  border-radius: 15px;
}
.modal-backgroun h1 {
  color: rgba(255, 255, 255, 0.103);
  font-size: 4em;
  font-family: TypoUpright BT;
}
.modal-bnt-box {
  height: 10vh;
}
.cancle-bnt {
  font-size: xx-large;
  background-color: transparent;
  margin: 0.3em;
  float: right;

  display: block;
  border: none;
  color: rgb(245, 8, 8);
  cursor: pointer;
}
.modal-cont {
  display: flex;
}
.modal-img {
  width: 100%;
}
.modal-content {
  width: 100%;
  height: 100%;
}
.modal-form {
  padding: 1em;
  background-color: white;
  width: 80%;
  border-radius: 5px;
}
.modal-content h2 {
  font-size: 3vw;
  padding-bottom: 1rem;
}
.modal-content p {
  padding-bottom: 1vw;
}
.modal-type {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #3aa672;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.modal-btn {
  margin-top: 2em;
  padding: 0.4rem 0.8rem;
  background-color: #3aa672;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
@media screen and (max-width: 600px) {
  .cancle-bnt {
    font-size: x-large;
  }
  .modal-content h2 {
    font-size: 3vw;
    padding-bottom: 1rem;
  }
  .modal-img {
    display: none;
  }
  .modal-content {
    width: 90%;
    margin: auto;
  }
  .modal-form {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .modal-content h2 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 400px) {
  .modal-content h2 {
    font-size: 3vw;
  }
  .modal-type {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #3aa672;
    width: 100%;
    margin-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .modal-btn {
    margin-top: 1em;
    padding: 0.2rem 0.4rem;
    background-color: #3aa672;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
}

/*....STARTING OF EXPERINCE....*/

.container-exp {
  background-color: #3aa672;
}
.container-bnt {
  text-align: center;
}
.project-image {
  max-height: 80vh;
  max-width: 100%;
}
.sec3 {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.box {
  width: 33%;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.3),
    -3px -3px 3px -1px rgba(255, 255, 255, 0.3);
  padding: 1rem;
  text-align: center;
  background-color: #3aa672;
  border-radius: 5px;
}
.section3 h1 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 3rem;
}
.box p {
  color: white;
}
.box button {
  border: none;
  background-color: white;
  border-radius: 30px;
  color: #3aa672;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.3),
    -3px -3px 3px -1px rgba(255, 255, 255, 0.3);
  padding: 3px 25px;
  margin-top: 1rem;
  transition: 500ms;
}
.box button:hover {
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .section3 h1 {
    font-size: 3rem;
  }
  .sec3 {
    width: 80%;
    margin: auto;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .box {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  .section2 h1 {
    font-size: 3rem;
  }
  .sec1-text h1 {
    font-size: 3rem;
  }
}

.exp-box {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding: 2rem 3rem;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  gap: 0.5rem;
}
.exp-box h1 {
  color: #3aa672;
  font-size: 3vw;
}
.exp-box p {
  color: gray;
}

/*....STARTING OF FOOTER....*/

.footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.social {
  color: #3aa672;
  background-color: whitesmoke;
  margin: 0px 1.5rem;
  font-size: 2vw;
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.31s;
}
.social:hover {
  background-color: #3aa672;
  color: white;
  transition: 0.31s;
}
