* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: auto;
}
.body {
  background-color: white;
  font-family: "lucida Sans", "lucida Sans Regular", "lucida Grande",
    "lucida sans Unicode", Geneva, Verdana, Sans-serif;
}
.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 1em auto 1rem auto;
  font-weight: bold;
  align-items: baseline;
}
.NavBar-button {
  height: 3em;
  width: 8.5em;
  cursor: pointer;
  background-color: #3aa672;
  color: white;
  border-radius: 5px;
  border: transparent;
  
}
ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}
li{
  cursor: pointer;
  color: rgb(94, 91, 91);
}

/*....STARTING OF MAIN ....*/


